{% extends 'base.html' %}
{% load widget_tweaks%}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="jumbotron panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create A New Poll</h3>
                <hr>
            </div>
                
            <form method="POST">
                {% csrf_token %}
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{form}}
                            </div>
                        </div>
                    </div>

                        <hr>
                            <button type="submit" class="btn btn-info">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
